{% extends "_layout" %}

{% block content %}

	<div class="container">
		<div class="row">
			<h2 class="introText" style="text-align: center;font-weight: bold;font-size: 40px;">
				Wij zijn het aan STORMend talent
			</h2>
		</div>
	</div>
</section>
<section class="grid">
	<div class="bg-secondary">
		<div class="container">
			<div class="row fitness-first">
				<div class="col-lg-7 text-block">
					<div class="text-lockup">
						<h3>Gitaar / zang</h3>
						<h2>Ruben Hillen</h2>
						<img src="assets/img/drop-muted.png">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
						<a href="">Read More</a>
					</div>
				</div>
				<div class="col-lg-13 large-thumb">
					<div class="stats">
						<img src="assets/img/drop-primary.png">
					</div>
				</div>
			</div>
			<div class="row love-your-body">
				<div class="col-lg-13 large-thumb">
					<div class="stats">
						<img src="assets/img/drop-primary.png">
					</div>
				</div>
				<div class="col-lg-7 text-block">
					<div class="text-lockup">
						<h3>Basgiteer / Achtergrond zang</h3>
						<h2>Raymond Voortman</h2>
						<img src="assets/img/drop-muted.png">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
						<a href="">Read More</a>
					</div>
				</div>
			</div>

			<div class="row fitness-first">
				<div class="col-lg-7 text-block">
					<div class="text-lockup">
						<h3>Gitaar / Achtergrond zang</h3>
						<h2>Harm Klein Geltink</h2>
						<img src="assets/img/drop-muted.png">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
						<a href="">Read More</a>
					</div>
				</div>
				<div class="col-lg-13 large-thumb" style="background-image: url({{siteUrl}}assets/img/overig-1.jpg);">
					<div class="stats">
						<img src="assets/img/drop-primary.png">
					</div>
				</div>
			</div>
			<div class="row love-your-body">
				<div class="col-lg-13 large-thumb" style="background-image: url({{siteUrl}}assets/img/overig-2.jpg);">
					<div class="stats">
						<img src="assets/img/drop-primary.png">
					</div>
				</div>
				<div class="col-lg-7 text-block">
					<div class="text-lockup">
						<h3>Drums</h3>
						<h2>Chiem Regterschot</h2>
						<img src="assets/img/drop-muted.png">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
						<a href="">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row mid-unit">
			<div class="col-lg-7 lifestyle">
				<div class="small-thumb" style="background-image:url('{{siteUrl}}assets/img/storm-metro.jpg');"></div>
				<div class="text-block">
					<div class="text-lockup">
						<h3>In de lift</h3>
						<h2>Storm + Solid Issue</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
						<i class="icon-user"></i>
					</div>
				</div>
			</div>
			<div class="col-lg-13 summer-fun">
				<div class="large-thumb" style="background-image:url('{{siteUrl}}assets/img/metropool.jpg');">
					<p class="date">22 Augustus</p>
					<div class="category">
						<p>Metropool (ov)</p>
						<i class="icon-tag"></i>
					</div>
				</div>
				<div class="text-block">
					<div class="text-lockup">
						<h3>22 Augustus</h3>
						<h2>Metropool (ov)</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>

				</div>
			</div>
		</div>
		<div class="row mid-unit">
			<div class="col-lg-13 summer-fun">
				<div class="large-thumb" style="background-image:url('{{siteUrl}}assets/img/metropool.jpg');">
					<p class="date">24 Augustus</p>
					<div class="category">
						<p>Metropool (ov)</p>
						<i class="icon-tag"></i>
					</div>
				</div>
				<div class="text-block">
					<div class="text-lockup">
						<h3>24 Augustus</h3>
						<h2>Metropool (ov)</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillumdolore eu fugiat nulla pariatur.</p>

					</div>
				</div>
			</div>
			<div class="col-lg-7 eating-habits">
				<div class="small-thumb" style="background-image:url('{{siteUrl}}assets/img/storm-metro.jpg');"></div>
				<div class="text-block">
					<div class="text-lockup">
						<h3>In de lift</h3>
						<h2>Storm + Solid Issue</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
						<img src="assets/img/avocado.png">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
